html,body{
margin:0;
padding:0;
}
.box{
	width:200px;
	height:300px;
}
img{
	width:200px;
	height:300px;
}
.zadnja{
	width:200px;
	height:300px;
	position:absolute;
	transition: transform 1s linear;
	
	transform: perspective(900px) rotateY(180deg);
	backface-visibility: hidden;
}
.prednja{
	width:200px;
	height:300px;
	position:absolute;
	transition: transform 1s linear;
	backface-visibility: hidden;
}
.box:hover > .prednja {
	transform: perspective(900px) rotateY(180deg);
}
.box:hover > .zadnja {
	transform: perspective(900px) rotateY(0deg);
}
